﻿<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="~/Scripts/jquery.ui.timepicker.js"></script>
    <link href="~/Content/jquery.ui.timepicker.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @RenderSection("pluginscss", false)
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div id="admin-menu" class="navbar navbar-default " role="navigation">
        <div class="col-md-4">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ADMİN SAYFASI</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-menubuilder">
                    @*<ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/">a>
                        </li>
                        <li>
                            <a href="/products">Products</a>
                        </li>
                        <li>
                            <a href="/about-us">About Us</a>
                        </li>
                        <li>
                            <a href="/contact">Contact Us</a>
                        </li>
                    </ul>*@
                </div>
                
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <div class="col-md-6"><div class="btn btn-warning">@User.Identity.Name</div></div>
            <div class="col-md-2"> @Html.ActionLink(" ", "Index", "Manage", new { Area = "" }, new { id = "logoutForm", @class = "btn btn-success glyphicon glyphicon-user navbar-right" })</div>
            <div class="col-md-2">
                @using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "btn btn-danger glyphicon glyphicon-log-out navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()"></a>
                }
            </div>
        </div>
        
    </div>

    <div class="container-fluid text-center">
        <div class="row content">

            <div class="col-sm-2 sidenav">
                <p><br /><b><h3 class="alert alert-info">ALANLAR</h3></b><br /><br /></p>
                <p class=" panel panel-primary">@Html.ActionLink("Slider", "Index", "Slider")</p>
                <p class=" panel panel-primary">@Html.ActionLink("Tatlilar", "Index", "Tatlilar")</p>
                <p class=" panel panel-primary">@Html.ActionLink("Tuzlular", "Index", "Tuzlular")</p>
                <p class=" panel panel-primary">@Html.ActionLink("Salatalar", "Index", "Salatalar")</p>
            </div>
            <div class="col-sm-8 text-left">
                <p>@RenderBody()</p>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center" id="footer_renk">
        <p>YemekHanem Corp. 2016 - by Emin Güney</p>
    </footer>

    @RenderSection("jsplugins", false)
    @RenderSection("scripts", false)


</body>
</html>
