﻿@{
    @* ViewBag.Title = "İletişim";*@
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="pad40Right">
    <div class="col-md-12">
        <!--ETKİNLİKLER-->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container">

                    <h3 class="text-center">İletişim</h3>
                    <p class="text-center"><em>En yeni ve en lezzetli yemekler bu sitede.. Önerilerinizi bize bildirin !</em></p>
                    <div class="row test">
                        <div class="col-md-4">
                            <p>Bize ulaşmak çok kolay !!</p>
                            <p><span class="glyphicon glyphicon-map-marker"></span>Türkiye, İstanbul</p>
                            <p><span class="glyphicon glyphicon-phone"></span>Telefon: +90 5454215</p>
                            <p><span class="glyphicon glyphicon-envelope"></span>Mail: info@yemekhanem.com</p>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12 col-sm-6 form-group">
                                    <input class="form-control" id="name" name="name" placeholder="İsminizi Giriniz" type="text" required>
                                </div>
                                <div class="col-md-12 col-sm-6 form-group">
                                    <input class="form-control" id="email" name="email" placeholder="Mail Adresini Giriniz" type="email" required>
                                </div>
                                <div class="col-md-12 col-sm-6 form-group">
                                    <textarea class="form-control" id="comments" name="comments" placeholder="Mesajınızı Buraya Giriniz" rows="5"></textarea>
                                </div>
                                <div class="col-md-4" col-sm-6>
                                    <div class="col-md-12 form-group">
                                        <button class="btn pull-right" type="submit">Gönder</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">



</div>

<div class="row">
    <div class="col-md-8">
        <div class="row">
        </div>
        <div class="row">
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">

        </div>
        <div class="row">


        </div>
    </div>
</div>

