﻿@model ProjeYemek.Models.Tatlilar

@{
    ViewBag.Title = "GetirTatli";
}

<h2>GetirTatli</h2>
<div class="row">
    <div class="thumbnail col-md-12">
        <center><h1 class="alert alert-info">@Html.DisplayFor(model => model.Baslik)</h1></center>
        <p class="lead">@Html.DisplayFor(model => model.ResimYolu)</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 ">
        <p class="panel"><b><h3>Malzemeler ve Hazırlanışı</h3></b></p>

        <div class="col-md-8">
            <div class="col-md-4">
                <h5 class="media-heading pull-left"></h5>
                <div class="comment-info pull-left">
                    <div class="btn btn-default  btn btn-primary"><i class="fa fa-clock-o"></i>@Html.DisplayFor(model => model.Zaman) </div>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="media-heading pull-left"></h5>
                <div class="comment-info pull-left">
                    <div class="btn btn-default btn btn-danger"><i class="fa fa-clock-o"></i>@Html.DisplayFor(model => model.PisirmeSuresi) Dakikada</div>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="media-heading pull-left"></h5>
                <div class="comment-info pull-left">
                    <div class="btn btn-default btn btn-success"><i class="fa fa-clock-o"></i>@Html.DisplayFor(model => model.KisiAdedi) Kişilik</div>
                </div>
            </div>
       </div>
            <p>
                @Html.DisplayFor(model => model.Tarif)
            </p>
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-xs-12">
                    <p class="panel"><b><h3>@Html.DisplayFor(model => model.Baslik)Yemeğine Ait Yorumlar</h3></b></p>
                    <hr>
                    <ul class="media-list comments">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <span class="glyphicon glyphicon-pencil">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading pull-left">Ayşe Güler&nbsp; &nbsp; &nbsp; </h5>
                                <div class="comment-info pull-left">
                                    <div class="btn btn-default btn-xs"><i class="fa fa-clock-o"></i>3 Hafta Önce</div>
                                </div>
                                <div class="row"></div>
                                <br class="clearfix">
                                <p class="well">Mükemmel Lezzetli Yemek...!</p>

                                <div class="col-md-12 col-sm-6 form-group">
                                    <p class="panel"><b><h5>Yorum Yapmaya Ne Dersin ??</h5></b></p>
                                    <textarea class="form-control" id="comments" name="comments" placeholder="Mesajınızı Buraya Giriniz" rows="1"></textarea>
                                    <button class="btn pull-right" type="submit">Gönder</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="col-md-4">
        <div class="row alert alert-info">

            <h2>İLGİNİ ÇEKEBİLİR</h2>

        </div>
        <div class="row alert alert-success">

            <h3>TAVUK GÖĞÜSÜ</h3>
            <img src="~/Content/images/pasta.jpg" class="img-rounded img-responsive" alt="Cinque Terre" width="304" height="236">
        </div>
        <div class="row alert alert-success">

            <h3>MENEMEN</h3>
            <img src="~/Content/images/dolma.jpg" class="img-rounded img-responsive" alt="Cinque Terre" width="304" height="236">
        </div>
    </div>
</div>





<div>
    <h4>Tatlilar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimYolu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimYolu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zaman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zaman)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PisirmeSuresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PisirmeSuresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KisiAdedi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KisiAdedi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarif)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
