﻿@model ProjeYemek.Controllers.VerilerDTO
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/style.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-8">
    <!--ENUST SAG KISIM-->
        <div class="container">
            <br>
            <div id="myCarousel" class="col-md-8 carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                        @foreach (var item in Model.sliders)
                        {
                            <div>
                                <img src="@item.ResimYolu" alt="Slide 1" />
                                <div class="slider-caption">
                                    <h2><a href="blog-single.html">When a Doctor’s Visit Is a Guilt Trip</a></h2>
                                    <p>@item.SliderText</p>
                                </div>
                            </div>

                        }
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            @foreach (var item in Model.tatli1)
        {
            <h1>HELLO</h1>
                <div class="thumbnail">
                    <h2><center>@item.Baslik</center></h2>
                    <div class="row">
                      
                        <div class="col-md-4">
                            <h5 class="media-heading pull-left"></h5>
                            <div class="comment-info pull-left">
                                <div class="btn btn-default  btn btn-primary"><i class="fa fa-clock-o"></i>@item.Zaman </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 class="media-heading pull-left"></h5>
                            <div class="comment-info pull-left">
                                <div class="btn btn-default btn btn-danger"><i class="fa fa-clock-o"></i>@item.PisirmeSuresi Dakikada</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 class="media-heading pull-left"></h5>
                            <div class="comment-info pull-left">
                                <div class="btn btn-default btn btn-success"><i class="fa fa-clock-o"></i>@item.KisiAdedi Kişilik</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @if (@item.ResimYolu == null)
                            {
                                <a href="@Url.Action("GetirTatli", "Home",new { id=item.ID})">
                                    <img src="~/Content/images/resimyok.png" alt="@item.Baslik" class="img-rounded img-responsive" width="304" height="236" />
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("GetirTatli", "Home",new { id=item.ID})">
                                    <img src="@item.ResimYolu" alt="@item.Baslik" class="img-responsive" width="304" height="150" />
                                </a>

                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="thumbnail alert alert-warning ">
    <h1><center>~~~~~ EN YENİ VE EN LEZZETLİ SALATALAR ~~~~~</center></h1>
</div>

<!--SALATA KISMI-->
<div class="row">
    @foreach (var item in Model.salata)
                        {
<div class="col-md-4 alert alert-success">
    <h3>@item.Baslik</h3>
    <div class="col-md-4">
        <h5 class="media-heading pull-left"></h5>
        <div class="comment-info pull-left">
            <div class="btn btn-default  btn btn-primary"><i class="fa fa-clock-o"></i>@item.Zaman.Value.ToShortDateString() </div>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="media-heading pull-left"></h5>
        <div class="comment-info pull-left">
            <div class="btn btn-default btn btn-danger"><i class="fa fa-clock-o"></i>@item.PisirmeSuresi Dakikada</div>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="media-heading pull-left"></h5>
        <div class="comment-info pull-left">
            <div class="btn btn-default btn btn-success"><i class="fa fa-clock-o"></i>@item.KisiAdedi Kişilik</div>
        </div>
    </div>
    <a href="@Url.Action("GetirSalata", "Home",new { id=item.ID})">
        <img src="@item.ResimYolu" alt="@item.Baslik" class="img-rounded" width="304" height="236" />
    </a>
</div>
}
</div>

<div class="thumbnail alert alert-warning ">
    <h1><center>~~~~~ EN YENİ VE EN LEZZETLİ TUZLULAR ~~~~~</center></h1>
</div>

<!--TUZLU KISMI-->
<div class="row">
    @foreach (var item in Model.sliders)
                        {
<div class="col-md-4 alert alert-success">
    <a href="@Url.Action("GetirTuzlu", "Home",new { id=item.ID})">
        <img src="@item.ResimYolu" alt="@item.SliderText" class="img-rounded" width="304" height="236" />
    </a>
</div>
}
</div>

<div class="thumbnail alert alert-warning ">
    <h1><center>~~~~~ EN YENİ VE EN LEZZETLİ TATLILAR ~~~~~</center></h1>
</div>

<!--TATLI KISMI-->
<div class="row">
    @foreach (var item in Model.tatli2)
                        {
<div class="col-md-4 alert alert-success">
    <h3>@item.Baslik</h3>
    <div class="col-md-4">
        <h5 class="media-heading pull-left"></h5>
        <div class="comment-info pull-left">
            <div class="btn btn-default  btn btn-primary"><i class="fa fa-clock-o"></i>@item.Zaman.Value.ToShortDateString() </div>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="media-heading pull-left"></h5>
        <div class="comment-info pull-left">
            <div class="btn btn-default btn btn-danger"><i class="fa fa-clock-o"></i>@item.PisirmeSuresi Dakikada</div>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="media-heading pull-left"></h5>
        <div class="comment-info pull-left">
            <div class="btn btn-default btn btn-success"><i class="fa fa-clock-o"></i>@item.KisiAdedi Kişilik</div>
        </div>
    </div>
    <a href="@Url.Action("GetirTatli", "Home",new { id=item.ID})">

        <img src="@item.ResimYolu" alt="@item.Baslik" class="img-rounded" width="304" height="236" />
    </a>
</div>
}
</div>


@*<div class="row">
        <div class="col-md-4 alert alert-success">
            <h2>Çikolatalı Buton Pasta</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Devamını Gör &raquo;</a></p>
        </div>
        <div class="col-md-8 alert alert-warning">
            <h2>Cup Cake Vişne Soslu</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Devamını Gör &raquo;</a></p>
        </div>
    </div>*@
