﻿@{
    @*  ViewBag.Title = "Recipe";*@
}
<div class="row">
    <div class="thumbnail col-md-12">
        <center><h1 class="alert alert-info">TAVUKLU BONFİLE TARİFİ</h1></center>
        <p class="lead"><img src="~/Content/images/yemekcim.jpg" class="img-responsive" alt="Cinque Terre" /></p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 ">
        <p class="panel"><b><h3>Malzemeler ve Hazırlanışı</h3></b></p>
        <p>
            Soğuk günleri tek bir kasesiyle sıcacık eden yemektir çorba. Polemiğe girmeden kabul etmemiz gereken bir gerçek var. O da çorbalar arasında en çok mercimeği sevdiğimiz. Her yemeğin başlangıcında gözlerimiz onu arıyor. Midemizi yiyeceğimiz yemeklere önden hazırlıyor. Soğuktan bir hal olmuş bedenimizi aynı anda sıcacık ediyor. Ağızlarda yumuşacık bir tat bırakıyor.
        </p><p>
            Besin değerine değer katan en müthiş sebzeyle, havuçla hazırladık çorbamızı. Pişirme yönteminde ise değişikliğe gidip, tüm malzemeleri önden bir güzel kavurduk. Bu şekilde aromalarını daha çok ortaya çıkardık ve pişme süresini bir miktar kısalttık. Siz dilerseniz üzerine müthiş bir sos gezdirin, dilerseniz sade yiyin. Her türlü nefis.
        </p>
        Öncelikle patatesler haşlanmak üzere ocağa alınır ve köftesi yoğurulur. Bunun için soğanları dilimleyip yumurta, sarımsak ve maydanozla beraber rondodan geçirin. Geniş bir kapta tüm malzemeleri kıyma ile yoğurarak vaktiniz varsa biraz dinlendirin. Daha sonra fırın kabına köfte harcını elinizle yayın. Bir kasede salçayı 2 su bardağı kadar sıcak su ile incelterek kıymanın üzerine gezdirin. Tepsiyi fırına sürerek 170 derecede üzeri kızarıncaya kadar pişirin. Bu arada patates püresinin hazırlanmasına geçebilirsiniz. Haşlanmış patatesler soyularak ufak ufak doğranır. Tereyağı ve tuz ilave edilerek ezici yardımı ile ezilir. Bu sırada yavaş yavaş süt de ilave edilir. Ben patatesleri önceden haşladığım için soğumuştu, bu sebeple bu işlemi tencere ocakta kısık ateşteyken yaptım. Siz patates püresini nasıl biliyorsanız öyle yapabilirsiniz. Daha krema gibi bir püre için blender kullanabilirsiniz. Patatesler iyice krema gibi olduktan sonra kaşar peynirini ilave edip tahta kaşıkla biraz karıştırın. Böylelikle püreniz hazır olacak.
        Fırından aldığınız sıcak köftenin üzerine püreyi yayarak üzerini dilimlenmiş domatesler ve biberler ile süsleyip tekrar fırına sürün. Domatesler eriyene kadar fırında tuttuktan sonra fırından alarak dilimleyip servis yapabilirsiniz. Afiyet olsun…
        <div class="row">
            <div class="col-lg-8 col-sm-8 col-xs-12">
                <p class="panel"><b><h3>Tavuklu Bonfileye Ait Yorumlar</h3></b></p>
                <hr>
                <ul class="media-list comments">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <span class="glyphicon glyphicon-pencil">
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading pull-left">Ayşe Güler&nbsp; &nbsp; &nbsp; </h5>
                            <div class="comment-info pull-left">
                                <div class="btn btn-default btn-xs"><i class="fa fa-clock-o"></i>3 Hafta Önce</div>
                            </div>
                            <div class="row"></div>
                            <br class="clearfix">
                            <p class="well">Mükemmel Lezzetli Yemek...!</p>

                            <div class="col-md-12 col-sm-6 form-group">
                                <p class="panel"><b><h5>Yorum Yapmaya Ne Dersin ??</h5></b></p>
                                <textarea class="form-control" id="comments" name="comments" placeholder="Mesajınızı Buraya Giriniz" rows="1"></textarea>
                                <button class="btn pull-right" type="submit">Gönder</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row alert alert-info">

            <h2>İLGİNİ ÇEKEBİLİR</h2>

        </div>
        <div class="row alert alert-success">

            <h3>TAVUK GÖĞÜSÜ</h3>
            <img src="~/Content/images/pasta.jpg" class="img-rounded img-responsive" alt="Cinque Terre" width="304" height="236">
        </div>
        <div class="row alert alert-success">

            <h3>MENEMEN</h3>
            <img src="~/Content/images/dolma.jpg" class="img-rounded img-responsive" alt="Cinque Terre" width="304" height="236">
        </div>
    </div>
</div>
<h2>Recipe</h2>

