﻿@model IEnumerable<ProjeYemek.Models.Tatlilar>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 alert">
            <h3>@item.Baslik</h3>
            <img src="@item.ResimYolu" alt="@item.Baslik" class="img-rounded" width="304" height="236" />
            <br /><br/><div class="col-md-4">
                <h5 class="media-heading pull-left"></h5>
                <div class="comment-info pull-left">
                    <div class="btn btn-default  btn btn-primary"><i class="fa fa-clock-o"></i>@item.Zaman.Value.ToShortDateString() </div>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="media-heading pull-left"></h5>
                <div class="comment-info pull-left">
                    <div class="btn btn-default btn btn-danger"><i class="fa fa-clock-o"></i>@item.PisirmeSuresi Dakikada</div>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="media-heading pull-left"></h5>
                <div class="comment-info pull-left">
                    <div class="btn btn-default btn btn-success"><i class="fa fa-clock-o"></i>@item.KisiAdedi Kişilik</div>
                </div>
            </div>
        </div>
    }
</div>