﻿@model ProjeYemek.Models.Salatalar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h2>Delete</h2>
Silmek istediğinize emin misiniz?
<br />
@Model.Baslik
<br />
@Html.ActionLink("Kabul Ediyorum", "DeleteConfirm", new { id = Model.ID })
<br />
@Html.ActionLink("Kabul Etmiyorum", "Index")