﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="enust-menu" class="rownavbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index"> <img src="~/Content/images/logo3.png" class="img-rounded " />    </a>
            </div>
            <div class="navbar-collapse collapse navbar-menubuilder">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Home.anasayfa, "Index", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Home.tatlilar, "Tatlilar", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Home.tuzlular, "Tuzlular", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Home.salatalar, "Salatalar", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Home.iletisim, "Contact", "Home")</li>
                </ul>
                @*Html.Partial("_LoginPartial")*@
                <div class="nav navbar-nav navbar-right col-md-4">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Ara</button>
                            </span>
                            <input type="text" class="form-control" placeholder="Tarif Bulucu">
                        </div>
                    </div>
                    <div class="col-md-2 dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">
                                    @Resources.Home.hosgeldiniz</a></li>
                        </ul>
                    </div>
                    <div class="col col-md-4">
                        <ul class="nav navbar-nav navbar-right pad10">
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>      
                        </ul>
                    </div>
                </div>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-envelope"></span>info@yemekhanem.com
            </div>
            <div class="col-md-4">
                <p style="margin:0;">&copy;Copyright © @DateTime.Now.Year - Yemekhanem.com </p>
            </div>
            <div class="col-md-4">
                <p>
                    <a class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-warning social-login-btn social-twitter" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-danger social-login-btn social-linkedin" href="/auth/linkedin"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-info social-login-btn social-google" href="/auth/google"><i class="fa fa-google-plus"></i></a>
                </p>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
