﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)//Kullanıcının içeri girip girmediğinin denetlenmesi
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-danger" })
        <li class="btn btn-success glyphicon glyphicon-log-out"><a href="javascript:document.getElementById('logoutForm').submit()"></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @using (Html.BeginForm("Register", "Account", FormMethod.Get))
            {
                <button type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
            }
        </li>
        <li>
            @using (Html.BeginForm("Login", "Account", FormMethod.Get))
            {
                <button type="submit" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-log-in"></span>
                </button>
            }
        </li>    </ul>
}