﻿@model ProjeYemek.Areas.Admin.Models.TatlilarModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                   <b><center><h3>~~~~~~ Yeni Tatlı Ekleme ~~~~~~</h3></center></b> 
                </div>
                @using (Html.BeginForm("AddTatli", "Tatlilar", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="panel-body">
                        <br>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Baslik, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Baslik, new { @class = "form-control"})
                            </div>
                            @*<div class="col-sm-3">
                                <p class="help-block">Your help text!</p>
                            </div>*@
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.KisiAdedi, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.KisiAdedi, new { @class = "form-control datepicker"})
                            </div>
                            @*<div class="col-sm-3">
                                <p class="help-block">Your help text!</p>
                            </div>*@
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PisirmeSuresi, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.PisirmeSuresi, new { @class = "form-control datepicker",})
                            </div>
                            @*<div class="col-sm-3">
                                <p class="help-block">Your help text!</p>
                            </div>*@
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Tarif, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Tarif, new { @class = "form-control datepicker", })
                            </div>
                            @*<div class="col-sm-3">
                                <p class="help-block">Your help text!</p>
                            </div>*@
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Zaman, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Zaman, new { @class = "form-control datepicker" })
                            </div>
                            @*<div class="col-sm-3">
                                <p class="help-block">Your help text!</p>
                            </div>*@
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Foto, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Foto, new { @class = "form-control", placeholder = "Resim Yolu Giriniz", type = "file" })
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button class="btn-primary btn">Submit</button>
                                    <button class="btn-default btn">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section pluginscss
{
    <link rel='stylesheet' type='text/css' href='~/Content/jquery.ui.timepicker.css' />
}
@section jsplugins
{
    <script type='text/javascript' src='~/assets/plugins/codeprettifier/prettify.js'></script>
    <script type='text/javascript' src='~/assets/plugins/easypiechart/jquery.easypiechart.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/sparklines/jquery.sparklines.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-toggle/toggle.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.min.js'></script>
}
@section scripts
{
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'mm.dd.yyyy'
        });
    </script>
}