﻿@model List<ProjeYemek.Models.Tatlilar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<html lang="tr">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>

    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 clearfix">
                        <div class="btn-group pull-right">
                            <a href="javascript:;" class="btn btn-default btn-sm active">this week</a>
                            <a href="javascript:;" class="btn btn-default btn-sm ">previous week</a>
                        </div>
                        <div class="container">
                            <h2>TATLILAR SAYFASI</h2>
                            <p></p>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Zaman</th>
                                        <th>KisiAdedi</th>
                                        <th>PisirmeSuresi</th>
                                        <th>ResimYolu</th>
                                        <th>Tarif</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.Zaman</td>
                                            <td>@item.KisiAdedi</td>
                                            <td>@item.PisirmeSuresi</td>
                                            <td>@item.ResimYolu</td>
                                            <td>@item.Tarif</td>
                                            <td>@Html.ActionLink("Düzenle", "Edit", "Tatlilar", new { id = item.ID }, null) | @Html.ActionLink("Sil", "Delete", "Tatlilar", new { id = item.ID }, null) </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="site-statistics" style="height:250px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>