﻿#enust-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#enust-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(0, 128, 113, 1);

}
#enust-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 128, 113, 1);
}
#enust-menu.navbar-default .navbar-nav>li>a:hover,
#enust-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(0, 128, 113, 1);
    background-color: rgba(255, 255, 255, 1);
}
#enust-menu.navbar-default .navbar-nav>.active>a,
#enust-menu.navbar-default .navbar-nav>.active>a:hover,
#enust-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(63, 186, 172, 1);
}
#enust-menu.navbar-default .navbar-toggle {
    border-color: #3fbaac;
}
#enust-menu.navbar-default .navbar-toggle:hover,
#enust-menu.navbar-default .navbar-toggle:focus {
    background-color: #3fbaac;
}
#enust-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #3fbaac;
}
#enust-menu.navbar-default .navbar-toggle:hover .icon-bar,
#enust-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #008071;
}
#resim-bg {background:url('~/Content/images/pasta.jpg')no-repeat;
}
#padTop10
{
	padding-top:10px;
}       



/*Admin Panel Css*/  
#admin-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#admin-menu.navbar-default {
    font-size: 17px;
    background-color: rgba(1, 107, 61, 1);
    border-width: 1px;
    border-radius: 10px;
}
#admin-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(1, 107, 61, 1);
}
#admin-menu.navbar-default .navbar-nav>li>a:hover,
#admin-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(1, 107, 61, 1);
    background-color: rgba(255, 255, 255, 1);
}
#admin-menu.navbar-default .navbar-nav>.active>a,
#admin-menu.navbar-default .navbar-nav>.active>a:hover,
#admin-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(1, 107, 61, 1);
}
#admin-menu.navbar-default .navbar-toggle {
    border-color: #016b3d;
}
#admin-menu.navbar-default .navbar-toggle:hover,
#admin-menu.navbar-default .navbar-toggle:focus {
    background-color: #016b3d;
}
#admin-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #016b3d;
}
#admin-menu.navbar-default .navbar-toggle:hover .icon-bar,
#admin-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #016b3d;
}
#footer_renk{
 	background-color: none;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height:auto;}
}   
/*.logo {
      color: #f4511e;
      font-size: 200px;
  }*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
